<form method="POST"
      class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-gap-4"
      action="{{url_for('index')}}"
      id="material_form"
      name="material_form"
>

    {{formulier.csrf_token}}

    <div class="col flex-grow-1">
        <div class="input-group">
            <span class="input-group-text naam" id="input_naam">{{formulier.naam_selection.label}}</span>
            {{formulier.naam_selection(class="form-control naam")}}
        </div>
    </div>
    <div class="col flex-grow-1">
        <div class="input-group">
            <span class="input-group-text kenmerk">{{formulier.kenmerk_selection.label}}</span>
            {{formulier.kenmerk_selection(class="form-control kenmerk")}}
        </div>
    </div>
    <div class="col flex-grow-1">
        <div class="input-group">
            <span class="input-group-text toepassing">{{formulier.toepassing_selection.label}}</span>
            {{formulier.toepassing_selection(class="form-control toepassing")}}
        </div>
    </div>

    <!-- optional extra fields -->
    {% for field in extra_fields %}
        {% set extra = extra_fields[field] %}
        <div class="col material_form_extra_field_group" data-group-id="{{extra.id}}">
            <div class="input-group">
                <label class="input-group-text text-secondary-emphasis" for="type-{{ extra.id }}">
                    {% for l in drop_list['drop-items'] %}
                        {% if l.type == extra.type %}
                            {{ l.omschrijving }}
                        {% endif %}
                    {% endfor %}
                </label>
                <button id="type-{{ extra.id }}" type="button" class="btn btn-outline-secondary dropdown-toggle text-secondary-emphasis extra-dropdown dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    {% for item in drop_list['drop-items'] %}
                        {% if drop_list['extra_fields'][item.type] != extra.id and item.type in drop_list['extra_fields'].keys() %}
                            {% set menu_item_disabled = True %}
                        {% else %}
                            {% set menu_item_disabled = False %}
                        {% endif %}

                        {% if item.type == 'dropdown-header' %}
                            <li><hr class="dropdown-divider"></li>
                            <li><div class="dropdown-header">{{ item.omschrijving }}</div></li>
                        {% else %}
                            <li><a class="dropdown-item {{ 'disabled' if menu_item_disabled else '' }}" href="/change_field/{{ extra.id }}/{{ item.type }}">{{ item.omschrijving }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <!-- see what type of input is chosen -->
                {% if extra.type == 'input' %}
                    <input type="text" class="form-control" name="{{ extra.name }}" value="{{ '' if 'value' not in extra.keys() else extra.value }}" data-input-type="{{ extra.type }}">
                {% elif extra.type == 'nlsfb' %}
                    <input type="search" class="form-control" name='nlsfb' value="{{ '[code]' if 'value' not in extra.keys() else extra.value }}" data-input-type="{{ extra.type }}">
                {% elif extra.type.startswith('select_') %}
                    <select class="form-select form-control" name={{ extra.name }} value="{{ extra.value }}" data-input-type="{{ extra.type }}">
                        {% for option in extra.select_list %}
                            <option {{ 'selected=""' if option == extra.value }}>{{ option }}</option>
                        {%  endfor %}
                    </select>
                {% endif %}
                <a href="/remove_field/{{ extra.id }}" class="btn btn-outline-secondary" type="button">-</a>
            </div>
        </div>
    {% endfor %}
</form>
