
{% extends "base.html"  %}
{% block content %}
<!-- jumbotron -->
<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        <h1 class="text-body-emphasis" id="material">{{ materiaal }}</h1>
        <div class="divider-invisible"></div>
            <div method="POST" class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-gap-4" action="{{url_for('index')}}" id="material_form" name="material_form">
                {{formulier.csrf_token}}
                <div class="col flex-grow-1">
                    <div class="input-group">
                        <span class="input-group-text naam" id="input_naam">{{formulier.naam_selection.label}}</span>
                        {{formulier.naam_selection(class="form-control naam")}}
                    </div>
                </div>
                <div class="col flex-grow-1">
                    <div class="input-group">
                        <span class="input-group-text kenmerk">{{formulier.kenmerk_selection.label}}</span>
                        {{formulier.kenmerk_selection(class="form-control kenmerk")}}
                    </div>
                </div>
                <div class="col flex-grow-1">
                    <div class="input-group">
                        <span class="input-group-text toepassing">{{formulier.toepassing_selection.label}}</span>
                        {{formulier.toepassing_selection(class="form-control toepassing")}}
                    </div>
                </div>
                {% if extra_fields | length > 0 %}
                    {% for field in extra_fields %}
                        {% set extra = extra_fields[field] %}
                        <div class="col">
                            <div class="input-group">
                                <button type="button" class="btn btn-outline-secondary text-secondary-emphasis">
                                    {{ drop_list['drop-items'][extra.type] }}
                                </button>
                                <button type="button" class="btn btn-outline-secondary dropdown-toggle text-secondary-emphasis extra-dropdown dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    {% for short, long in drop_list['drop-items'].items() %}
                                        {% if drop_list['extra_fields'][short] != extra.id and short in drop_list['extra_fields'].keys() %}
                                            {% set menu_item_disabled = True %}
                                        {% else %}
                                            {% set menu_item_disabled = False %}
                                        {% endif %}
                                        <li><a class="dropdown-item {{ 'disabled' if menu_item_disabled else '' }}" href="/change_field/{{ extra.id }}/{{ short }}">{{ long }}</a></li>
                                    {% endfor %}
                                </ul>
                                {% if extra.type == 'input' %}
                                    <input type="text" class="form-control" name="{{ extra.name }}" value={{ '' if 'value' not in extra.keys() else extra.value }}>
                                {% elif extra.type == 'nlsfb' %}
                                    <input type="search" class="form-control" name='nlsfb' value="{{ '[code]' if 'value' not in extra.keys() else extra.value }}" disabled>
                                {% elif extra.type.startswith('select_') %}
                                    <select class="form-select form-control" name={{ extra.name }} value={{ extra.value }}>
                                        {% for option in extra.select_list %}
                                            <option {{ 'selected=""' if option == extra.value }}>{{ option }}</option>
                                        {%  endfor %}
                                    </select>
                                {% endif %}
                                <a href="/remove_field/{{ extra.id }}" class="btn btn-outline-secondary" type="button">-</a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

        </form>
        <div class="divider-invisible"></div>
        <div class="d-inline-flex gap-4 text-center mb-5">
            <a href="/add" title="Save"
               class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill"
               role="button"
               id="save_button"
            >
                <i class="fa-regular fa-clipboard"></i>&nbsp; + &nbsp;<i class="fa-solid fa-list-ol"></i>
            </a>
            <a href="/add_field" title="Add Field"
               class="btn btn-outline-secondary btn-lg px-3 rounded-pill"
               role="button"
            >
                +
            </a>
        </div>
    </div>
</div>


<!-- JS to change selections of 2nd and 3rd input select by the first -->
<script>
    let naam_select = document.getElementById('naam_selection');
    let kenmerk_select = document.getElementById('kenmerk_selection');
    let toepassing_select = document.getElementById('toepassing_selection');

    naam_select.onchange = function() {
        let naam = naam_select.value;

        fetch('/naam/' + naam).then(function(response) {
            response.json().then(function(data) {
                let kenmerkHTML = '';
                let toepassingHTML = '';

                for (let kenm of data.kenmerken) {
                    kenmerkHTML += '<option value="' + kenm.id + '">' + kenm.kenmerk + '</option>';
                }
                for (let toep of data.toepassingen) {
                    toepassingHTML += '<option value="' + toep.id + '">' + toep.toepassing + '</option>';
                }

                kenmerk_select.innerHTML = kenmerkHTML;
                toepassing_select.innerHTML = toepassingHTML;

            })
        });
    }

    function copyMaterialToClipboard () {
        navigator.clipboard.writeText(
            document.getElementById("material").innerText
        )
    }

    document.getElementById('save_button').addEventListener(
        "click", copyMaterialToClipboard)

    const material_form = document.getElementById('material_form')
    material_form.addEventListener('change', function() {
        console.log('change detected')

        const nlsfb_element = document.querySelector('[name="nlsfb"]');
        let material_name = document.getElementById('material');
        let extra_field_data = {}
        let get_extra_fields = document.querySelectorAll('[name^="extra_fields-"],[name$="selection"],[name="nlsfb"],[name^="select"]')
        console.log(get_extra_fields)
        for (let _item of get_extra_fields) {
            console.log(_item.id, _item.name, _item.value);
            extra_field_data[_item.name] = _item.value;
        }
        console.log(extra_field_data)
        fetch(`/material?${new URLSearchParams(extra_field_data)}`).then(function(response) {
            response.json().then(function(return_data) {
                material_name.innerText = return_data.material
                console.log('finally Success!')
                if (nlsfb_element) {
                    nlsfb_element.value = return_data.nlsfb;
                    console.log('nlsfb returned' + return_data.nlsfb);

                }
            })
        });

    });


</script>

{% if selections|length > 0 %}
    <div class="container my-5">
        <div class="p-5 text-center bg-body-tertiary rounded-3">
            <div class="d-inline-flex gap-4 text-center mb-5">
                <button class="btn btn-outline-light" onclick="downloadCSV()">Save to text</button>
                <a href="/del_list" class="btn btn-outline-secondary">Delete list</a>
            </div>
            <div class="container-lg">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col">Rij</th>
                                <th class="col">Materiaal naam</th>
                                <th class="col">Acties</th>
                            </tr>
                        </thead>
                        <tbody id="table-body">
                            <!-- Table rows will be created here -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        const data_table = {{ selections|tojson }};
        const numberOfRows = data_table.length;

        function addRowToTable(rowData, rowNum) {
            const newRow = document.createElement("tr");
            newRow.innerHTML = `
                <td class="col text-center align-middle">${rowNum}</td>
                <td class="col text-center align-middle">${rowData}</td>
                <td class="col text-center align-middle">
                    <div class="d-flex justify-content-center  align-items-center">
                        <a href="/del/${rowNum}" title="Delete" class="text-dark-emphasis"><i class="fa-regular fa-trash-can"></i></a>
                        <button class="btn text-dark-emphasis" title="Copy-to-Clipboard" value=${rowData} onclick="copyToClipboard(this)"><i class="fa-regular fa-clipboard"></i></button>
                    </div>
                </td>
            `;
            document.getElementById("table-body").appendChild(newRow);
        }

        function createTableWithRows() {
            for (let i = 0; i < numberOfRows; i++) {
                const rowNum = numberOfRows - i;
                addRowToTable(data_table[i], rowNum);
            }
        }

        createTableWithRows();

        function downloadCSV() {
            const table = document.querySelector('.table');
            let csvContent = [];
            let headerRow = [];
            table.querySelectorAll('th').forEach(header => {
                headerRow.push(`"${header.innerText.replace(/"/g, '""')}"`);
            });
            headerRow.pop();
            csvContent.push(headerRow.join(','));

            table.querySelectorAll('tbody tr').forEach(row => {
                let rowData = [];
                row.querySelectorAll('td:not(:last-child)').forEach(cell => {
                    rowData.push(`"${cell.innerText.replace(/"/g, '""')}"`);
                });
                csvContent.push(rowData.join(','));
            });

            const csv = csvContent.join('\n');
            const blob = new Blob([csv], { type: 'text/csv;charset=utf-8;' });
            const url = URL.createObjectURL(blob);
            const link = document.createElement('a');
            link.href = url;
            link.setAttribute('download', 'Materiaalnamen.csv');
            document.body.appendChild(link);
            link.click();
        }

    </script>
{% endif %}


{% endblock %}
