// Vendor imports
@import 'bootstrap';

// Application imports
@import 'components';

/* Style to center selection boxes */
html, body {
    font-family: 'Roboto', sans-serif;
}

.divider-visible {
    width: 1400%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.divider-invisible {
    width: 100%;
    height: 2rem;
}
